body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: 100%;
    height: auto;
    background: #34495e;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.window-controls {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    background: #ecf0f1;
    padding: 5px;
    border-bottom-left-radius: 10px;
}

.window-controls button {
    background: none;
    border: none;
    color: #2c3e50;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
    user-select: none;
}

.window-controls button:hover {
    background: #95a5a6;
}

canvas {
    margin-top: 40px;
    flex-grow: 1;
    background: white;
    display: block;
}

p.title{
    font-size: 30px;
    text-align: center;
    user-select: none;
}

.editor-container {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    background: #f8f8f8;
    font-family: monospace;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.line-numbers {
    padding: 10px;
    text-align: right;
    background: #e0e0e0;
    color: #555;
    min-width: 10px;
    font-size: 14px;
    line-height: 20px;
    border-right: 1px solid #ccc;
    user-select: none;
}

.graphtext {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    background: #FFFF;
    font-size: 14px;
    line-height: 20px;
    resize: none;
    overflow: auto;
    white-space: pre;
}

.graphtext, .line-numbers {
    height: 100%;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.graph-type-button {
    background: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.graph-type-button:hover {
    background: #212d3a;
}

.graph-type-button:active {
    transform: scale(0.95);
}